* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #000601;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.loader {
  width: 300px;
  height: 300px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.loader span {
  position: absolute;
  border: 2px solid #09d532;
  width: 100%;
  height: 100%;
  animation: animate 5s linear infinite;
}
.loader span:nth-child(1) {
  border-radius: 43% 57% 70% 30%/30% 30% 70% 70%;
}
.loader span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 43% 57% 70% 30%/65% 55% 45% 35%;
}
.loader span:nth-child(3) {
  border-radius: 29% 71% 33% 67%/60% 76% 24% 40%;
}
.loader span:nth-child(4) {
  animation-direction: reverse;
  border-radius: 84% 16% 58% 42%/46% 76% 24% 54%;
}
.loader h2 {
  color: white;
  font-size: 26px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Allcontent {
  color: white;
  display: none;
}

header {
  display: flex;
  flex-wrap: wrap;
}
header .container {
  display: flex;
  height: 200px;
  width: 100%;
  margin: 50px 20px auto 20px;
  align-items: center;
  justify-content: center;
}
header .container .myName {
  font-family: "Anta", sans-serif;
  margin-left: 75px;
  font-size: 40px;
}
header .container .myName span {
  display: inline-block;
}
header .container .myName .min-myName {
  margin-left: 10px;
  font-size: 20px;
}
header .container .logo-Animation {
  width: 170px;
  height: 170px;
  /* background-color: red; */
  position: relative;
}
header .container .logo-Animation span {
  position: absolute;
  border: 2px solid #09d532;
  width: 100%;
  height: 100%;
  animation: animate 5s linear infinite;
}
header .container .logo-Animation span:nth-child(1) {
  border-radius: 43% 57% 70% 30%/30% 30% 70% 70%;
}
header .container .logo-Animation span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 43% 57% 70% 30%/65% 55% 45% 35%;
}
header .container .logo-Animation span:nth-child(3) {
  border-radius: 29% 71% 33% 67%/60% 76% 24% 40%;
}
header .container .logo-Animation span:nth-child(4) {
  animation-direction: reverse;
  border-radius: 84% 16% 58% 42%/46% 76% 24% 54%;
}

.section-01 {
  display: flex;
  justify-content: center;
  margin: 90px 20px auto 20px;
}

.container {
  display: flex;
  align-items: center;
}

.meImg {
  width: 210px;
  height: 210px;
  border-radius: 40%;
  margin: 30px;
}

.abotMe {
  display: block;
  background-color: rgba(255, 255, 255, 0.064);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 30px;
  width: 320px;
  height: 190px;
  margin-left: 30px;
  letter-spacing: 3px;
}
.abotMe .jobName {
  margin: 20px 0 0 30px;
  font-size: 24px;
  font-weight: bold;
}
.abotMe h3 {
  margin: 20px 0 0 90px;
}
.abotMe .romaji {
  margin: 0 0 0 70px;
}
.abotMe .certification {
  margin: 20px 0 0 30px;
  font-size: 15px;
}

.section-02 {
  margin-top: 120px;
}

.container {
  display: flex;
  justify-content: center;
}

.media-icons ul {
  display: flex;
  list-style: none;
}
.media-icons a {
  color: white;
  font-size: 35px;
  margin: 60px;
}

.section-03 {
  margin: 160px auto 100px auto;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: red;
  background-color: rgba(255, 255, 255, 0.064);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 30px;
  width: 230px;
  height: 280px;
  margin: 20px;
  letter-spacing: 3px;
}
.card .nextPage {
  margin-top: 15px;
}
.card i {
  font-size: 40px;
  margin-top: 20px;
}
.card a {
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.card a p {
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  header .container .myName {
    font-size: 30px;
  }
  header .container .myName .min-myName {
    margin-left: 10px;
    font-size: 15px;
  }
  header .container .logo-Animation {
    width: 130px;
    height: 130px;
    /* background-color: red; */
    position: relative;
  }
  header .container .logo-Animation span {
    position: absolute;
    border: 2px solid #09d532;
    width: 100%;
    height: 100%;
    animation: animate 5s linear infinite;
  }
  header .container .logo-Animation span:nth-child(1) {
    border-radius: 43% 57% 70% 30%/30% 30% 70% 70%;
  }
  header .container .logo-Animation span:nth-child(2) {
    animation-direction: reverse;
    border-radius: 43% 57% 70% 30%/65% 55% 45% 35%;
  }
  header .container .logo-Animation span:nth-child(3) {
    border-radius: 29% 71% 33% 67%/60% 76% 24% 40%;
  }
  header .container .logo-Animation span:nth-child(4) {
    animation-direction: reverse;
    border-radius: 84% 16% 58% 42%/46% 76% 24% 54%;
  }
}
@media screen and (max-width: 692px) {
  header .container .myName {
    font-size: 25px;
  }
  header .container .myName .min-myName {
    margin-left: 10px;
    font-size: 13px;
  }
  header .container .logo-Animation {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    position: relative;
  }
  header .container .logo-Animation span {
    position: absolute;
    border: 2px solid #09d532;
    width: 100%;
    height: 100%;
    animation: animate 5s linear infinite;
  }
  header .container .logo-Animation span:nth-child(1) {
    border-radius: 43% 57% 70% 30%/30% 30% 70% 70%;
  }
  header .container .logo-Animation span:nth-child(2) {
    animation-direction: reverse;
    border-radius: 43% 57% 70% 30%/65% 55% 45% 35%;
  }
  header .container .logo-Animation span:nth-child(3) {
    border-radius: 29% 71% 33% 67%/60% 76% 24% 40%;
  }
  header .container .logo-Animation span:nth-child(4) {
    animation-direction: reverse;
    border-radius: 84% 16% 58% 42%/46% 76% 24% 54%;
  }
  .meImg {
    width: 180px;
    height: 180px;
    border-radius: 40%;
    margin: 30px;
  }
  .abotMe {
    display: block;
    background-color: rgba(255, 255, 255, 0.064);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 30px;
    width: 250px;
    height: 160px;
    margin-left: 30px;
    letter-spacing: 3px;
  }
  .abotMe .jobName {
    margin: 15px 0 0 30px;
    font-size: 24px;
    font-weight: bold;
  }
  .abotMe h3 {
    margin: 14px 0 0 90px;
  }
  .abotMe .romaji {
    margin: 0 0 0 70px;
  }
  .abotMe .certification {
    margin: 15px 0 0 30px;
    font-size: 15px;
  }
}
@media screen and (max-width: 590px) {
  header .container .myName {
    font-size: 25px;
    margin-left: 15px;
  }
  header .container .myName .min-myName {
    margin-left: 10px;
    font-size: 13px;
  }
  header .container .logo-Animation {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    position: relative;
  }
  header .container .logo-Animation span {
    position: absolute;
    border: 1px solid #09d532;
    width: 100%;
    height: 100%;
    animation: animate 5s linear infinite;
  }
  .meImg {
    width: 180px;
    height: 180px;
    border-radius: 40%;
    margin: 10px;
  }
  .abotMe {
    display: block;
    background-color: rgba(255, 255, 255, 0.064);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 30px;
    width: 250px;
    height: 160px;
    margin-left: 10px;
    letter-spacing: 3px;
  }
  .abotMe .jobName {
    margin: 20px 0 0 30px;
    font-size: 24px;
    font-weight: bold;
  }
  .abotMe h3 {
    margin: 20px 0 0 90px;
  }
  .abotMe .romaji {
    margin: 0 0 0 70px;
  }
  .abotMe .certification {
    margin: 12px 0 0 30px;
    font-size: 15px;
  }
  .card {
    width: 170px;
    height: 240px;
    margin: 10px;
  }
}
@media screen and (max-width: 590px) {
  header .container .myName {
    font-size: 25px;
    margin-left: 15px;
  }
  header .container .myName .min-myName {
    margin-left: 10px;
    font-size: 13px;
  }
  header .container .logo-Animation {
    width: 80px;
    height: 80px;
    /* background-color: red; */
    position: relative;
  }
  .meImg {
    width: 140px;
    height: 140px;
    border-radius: 40%;
    margin: 10px;
  }
  .abotMe {
    display: block;
    background-color: rgba(255, 255, 255, 0.064);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 30px;
    width: 210px;
    height: 140px;
    margin-left: 10px;
    letter-spacing: 3px;
  }
  .abotMe .jobName {
    margin: 20px 0 0 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .abotMe h3 {
    margin: 10px 0 0 60px;
    font-size: 19px;
  }
  .abotMe .romaji {
    margin: 0 0 0 30px;
  }
  .abotMe .certification {
    margin: 10px 0 0 30px !important;
    font-size: 12px;
  }
  .card {
    width: 170px;
    height: 240px;
    margin: 10px;
  }
  .media-icons ul {
    display: flex;
    list-style: none;
  }
  .media-icons a {
    color: white;
    font-size: 25px;
    margin: 30px;
  }
}
@media screen and (max-width: 590px) {
  header .container .myName {
    font-size: 25px;
    margin-left: 15px;
  }
  header .container .myName .min-myName {
    margin-left: 10px;
    font-size: 13px;
  }
  header .container .logo-Animation {
    width: 70px;
    height: 70px;
    /* background-color: red; */
    position: relative;
  }
  .meImg {
    width: 140px;
    height: 140px;
    border-radius: 40%;
    margin: 10px;
  }
  .abotMe {
    display: block;
    background-color: rgba(255, 255, 255, 0.064);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 30px;
    width: 210px;
    height: 140px;
    margin-left: 10px;
    letter-spacing: 3px;
  }
  .abotMe .jobName {
    margin: 20px 0 0 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .abotMe h3 {
    margin: 10px 0 0 60px;
    font-size: 19px;
  }
  .abotMe .romaji {
    margin: 0 0 0 30px;
  }
  .abotMe .certification {
    margin: 15px 0 0 30px;
    font-size: 12px;
  }
  .card {
    width: 170px;
    height: 240px;
    margin: 10px;
  }
  .media-icons ul {
    display: flex;
    list-style: none;
  }
  .media-icons a {
    color: white;
    font-size: 25px;
    margin: 30px;
  }
}
@media screen and (max-width: 499px) {
  header .container .myName {
    font-size: 20px;
    margin-left: 15px;
    text-align: center;
  }
  header .container .myName .min-myName {
    margin-left: 10px;
    font-size: 13px;
  }
}
@media screen and (max-width: 446px) {
  header .container .myName {
    font-size: 20px;
    margin-left: 15px;
    text-align: center;
  }
  header .container .myName .min-myName {
    margin-left: 10px;
    font-size: 13px;
  }
  header .container .logo-Animation {
    width: 50px;
    height: 50px;
    /* background-color: red; */
    position: relative;
  }
  .meImg {
    width: 140px;
    height: 140px;
    border-radius: 40%;
    margin: 10px;
  }
  .abotMe {
    display: block;
    background-color: rgba(255, 255, 255, 0.064);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 30px;
    width: 210px;
    height: 140px;
    margin-left: 10px;
    letter-spacing: 3px;
  }
  .abotMe .jobName {
    margin: 20px 0 0 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .abotMe h3 {
    margin: 10px 0 0 60px;
    font-size: 19px;
  }
  .abotMe .romaji {
    margin: 0 0 0 30px;
  }
  .abotMe .certification {
    margin: 15px 0 0 30px;
    font-size: 12px;
  }
  .card {
    width: 170px;
    height: 240px;
    margin: 10px;
  }
  .media-icons ul {
    display: flex;
    list-style: none;
  }
  .media-icons a {
    color: white;
    font-size: 25px;
    margin: 30px;
  }
}
@media screen and (max-width: 418px) {
  header .container .myName {
    font-size: 20px;
    margin-left: 15px;
    text-align: center;
  }
  header .container .myName .min-myName {
    margin-left: 10px;
    font-size: 13px;
  }
  header .container .logo-Animation {
    width: 40px;
    height: 40px;
    /* background-color: red; */
    position: relative;
  }
  .meImg {
    width: 120px;
    height: 120px;
    border-radius: 40%;
    margin: 10px;
  }
  .abotMe {
    display: block;
    background-color: rgba(255, 255, 255, 0.064);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 30px;
    width: 190px;
    height: 120px;
    margin-left: 10px;
    letter-spacing: 3px;
  }
  .abotMe .jobName {
    margin: 17px 0 0 30px;
    font-size: 17px;
    font-weight: bold;
  }
  .abotMe h3 {
    margin: 10px 0 0 60px;
    font-size: 16px;
  }
  .abotMe .romaji {
    margin: 0 0 0 30px;
  }
  .abotMe .certification {
    margin: 7px 0 0 40px;
    font-size: 12px;
  }
  .card {
    width: 170px;
    height: 240px;
    margin: 10px;
  }
  .media-icons ul {
    display: flex;
    list-style: none;
  }
  .media-icons a {
    color: white;
    font-size: 25px;
    margin: 30px;
  }
}/*# sourceMappingURL=style.css.map */